{% extends 'eulisker/base.html' %}

{% block content %}
    <h1>Spiele bei / zu Eulisker:</h1>
    <table style="border-collapse: collapse;">
        <tr>
            <th style="padding-left: 10px;">Release:</th>            
            <th style="padding-left: 10px;">Kommentar:</th>
        </tr>        
        {% for entry in eulisker_list %}
            <tr style="border-bottom: 1pt solid grey;">
                <td style="width: 600px;vertical-align: top;padding-left: 10px;"><a href="{% url 'release_detail' pk=entry.pk %}">{{ entry.rlstitle }} ({{ entry.year }}, {{ entry.platformlnk.platformname }} - {{ entry.get_media_display }})</a></td>
                <td style="padding-left: 6px; vertical-align: top;padding-left: 10px;">{{ entry.toEuliskerComment|linebreaksbr }}</td>
            </tr>
        {% endfor %}
    </table>
    <br /><br />
    <h1>Spiele mit Exposé:</h1>
    <table>
        <tr>
            <th style="padding-left: 10px;">Release:</th>            
        </tr>        
        {% for entry in eulisker_archivelist %}
            <tr>
                <td style="width: 800px;vertical-align: top;padding-left: 10px;"><a href="{% url 'release_detail' pk=entry.pk %}">{{ entry.rlstitle }} ({{ entry.year }}, {{ entry.platformlnk.platformname }} - {{ entry.get_media_display }})</a></td>
            </tr>
        {% endfor %}
    </table>    
    <br /><br />
{% endblock %}