<html>
	<head>
		<title>Embed a 3D Big Box</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>
		<link href="EmbedA3DBigBox.css" rel="stylesheet"/>
		<script>			
			var byId = function( id ) { return document.getElementById( id ); };
			function updateCode(){
				var genURL="/3DBB/box.html?h="+byId('h').value+"&w="+byId('w').value+"&d="+byId('d').value+"&s="+byId('s').value+"&z="+byId('z').value+"&f="+byId('f').value+"&b="+byId('b').value+"&t="+byId('t').value;
				var genStyle="height:600px;width:500px;border:none;";
				byId('ExampleCode').innerHTML="&lt;object data=\""+genURL+"\" style=\""+genStyle+"\"/&gt;&lt;/object&gt;";
				byId('Preview').data=genURL;
				byID('Preview').style=genStyle;
			}
		</script>
	</head>
	<body style="width:100%;">
		<div style="width:800px;margin:0 auto;">
		<h1>Embed A 3D Big Box</h1>
		<h2>About</h2>
		<p>
			Display a zoomable and rotatable 3D model of your big box games on your website by adding single line of code.
		</p>
		<div style="width:800px;margin:0 auto;">
			<object data="/3DBB/box.html?h=220&w=180&d=40&s=100&z=1&f=1&b=aaa&t=textures/texture.jpg" style="height:600px;width:800px;border:none;"></object>
		</div>
		<h2>Installation</h2>
		<p>
			<ol style="width:600px;text-align:left;margin:0 auto;">
				<li>Upload the <span class="code">3DBB</span> folder and its content to your server</li>
				<li>Upload your textures to your server</li>				
				<li><i>Optional: Upload the <span class="code">EmbedA3DBigBox.xxx</span> files too if you wanna use this tool. Using it without a webserver won't load any textures.</i></li>
			</ol>
		</p>
		<h2>Parameters</h2>
		<table style="width:450px;margin:0px auto;">
			<tr>
				<td style="width:80px;">
					<b>h, w, d</b>
				</td>
				<td>
					<b>h</b>eight, <b>w</b>idth and <b>d</b>epth of your big box (in <a href="https://www.google.com/search?q=inch+in+millimeter" target="_blank">millimeter</a>)
				</td>
			</tr>
			<tr>
				<td>
					<b>s</b>
				</td>
				<td>
					relative <b>s</b>ize that your big box should be rendered (100% is default)
				</td>
			</tr>
			<tr>
				<td>
					<b>z</b>
				</td>
				<td>
					defines if your big box is <b>z</b>oomable<br/>
					(1 = zoomable; 0 = not zoomable)
				</td>
			</tr>
			<tr>
				<td>
					<b>f</b>
				</td>
				<td>
					Allows <b>f</b>ullscreen view in new tab <br/>
					(1 = allowed; 0 = not allowed)
				</td>
			</tr>
			<tr>
				<td>
					<b>b</b>
				</td>
				<td>
					<b>b</b>ackground color of the rendering (<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool" target="_blank">hex values</a> without the leading #)
				</td>
			</tr>
			<tr>
				<td>
					<b>t</b>
				</td>
				<td>
					relative URL of your <b>t</b>exture file<br/>
					(file must be on the same server the script is running on)
				</td>
			</tr>
		</table>
		<h2>How to use</h2>
		<ol>
			<li>Get all your parameters ready</li>
		</ol>
		<table style="width:700px;">
			<tr>
				<td style="width:340px;">					
					<ul style="list-style-type: none;">
						<li><label>Height (h)</label><input id='h' value="220"/></li>
						<li><label>Width (w)</label><input id='w' value="180"/></li>
						<li><label>Depth (d)</label><input id='d' value="40"/></li>
						<li><label>Size (s)</label><input id='s' value="100"/></li>
						<li><label>Zoomable (z)</label><select id='z'><option value=1 selected>Yes</option><option value=0>No</option></select></li>
						<li><label>Fullscreen (f)</label><select id='f'><option value=1 selected>Yes</option><option value=0>No</option></select></li>
						<li><label>Background (b)</label><input id='b' value="aaa"/></li>
						<li><label>Texture (t)</label><input id='t' value="textures/texture.jpg"/></li>
						<li style="margin:1em 0;"><label></label><input type="button" value="Generate Code" onCLick="updateCode()"/></li>
					</ul>
					<p style="font-size:0.8em;margin-left:130px;">
						You'd need to change the path to your <span class="code">3DBB</span> too.
					</p>
				</td>
				<td>
					<object id="Preview" data="3DBB/box.html?h=220&w=180&d=40&s=100&z=1&f=1&b=aaa&t=textures/texture.jpg" style="height:400px;width:340px;border:none;"></object>		
				</td>
			</tr>
		</table>
		<ol start=2>
			<li>Add the following code to whatever page your box should be displayed on</li>
		</ol>	
		<p id="ExampleCode" class="code">
			&lt;object data="/3DBB/box.html?h=220&w=180&d=40&s=100&z=1&b=aaa&t=textures/texture.jpg" style="height:600px;width:500px;border:none;"/&gt;&lt;/object&gt;
		</p>
		<h2>Texture</h2>
		<p>
			The texture is composed of scans of your box's front, back as well as right and left side.<br/>
			The texture's resolution can be changed to any value in order to save bandwidth and/or offer high res renderings.<br/>
			What has to be considered though, is that the width of the single parts must be kept as follows:
		</p>
		<p>
			<img src="EmbedA3DBigBox.gif">
		</p>
		<p>
			Don't worry about stretching right/left side scans as this will be automatically corrected when rendered.</br>
			The <a href="3DBB/textures/texture.jpg" targert="_blank">texture</a> used in the example above does contain guidelines for these measures.
		</p>
		
		<h2>Tweaks</h2>
		<p>
			The <span class="code">About 3DBigBox</span> link can of course be tweaked and removed. If you get rid of it, please consider adding a link to <a href="http://bigboxcollection.com" target="_blank">http://bigboxcollection.com</a> in another spot of your site.
		</p>
		<p>
			Wanna get rid of that shadow effect? Well, just edit the embedded CSS in <span class="code">3DBB/box.html</span>
		</p>
		</div>
	</body>	
</html>
