    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="/">Menü</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Neuste Release</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="/eulisker_list">Eulisker</a>
			</li>
			{% endif %}
			<li class="nav-item">
			  <a class="nav-link" href="/releasesearch">Suche</a>
			</li>
		  </ul>
		</div>
	  </nav>