# Python
*.pyc
*~
__pycache__

# Env
.env
#gddbenv/
#gddb/

# Datenbank
db.sqlite3

# Static Ordner im Projektverzeichnis
#static/

# Media folder with images
media/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

3DBB/