{% extends 'games/base.html' %}

{% block content %}
    <article class="game">
        {% if game.published_date %}
            <time class="date">
                {{ game.published_date }}
            </time>
        {% endif %}
        <h2>{{ game.title }}</h2>
        <h5>{{ game.genre }}</h5>
        {% if glpid is not None %}
            <h5><a href="{% url 'glp_detail' pk=glpid.pk %}">Zum GLP-Eintrag</a></h5>
        {% endif %}
        <p>{{ game.description|linebreaksbr }}</p>
    </article>
    <h1>Releases:</h1>
    <table>
        {% for release in releases %}
          <tr>
            <td style="width: 300px;"><a href="{% url 'release_detail' pk=release.pk %}">{{ release.rlstitle }} ({{ release.year }} - {{ release.get_media_display }})</a></td>
          </tr>
        {% endfor %}
    </table>
{% endblock %}