{% extends 'releases/base.html' %}

{% block content %}
    <article class="game">
        {% if release.published_date %}
            <time class="date">
                {{ release.published_date }}
            </time>
        {% endif %}
        <h2>{{ release.title }} ({{ release.year }} - {{ release.get_media_display }})</h2>
        <h5>Developer: {{ release.developer }}</h5>
        <h5>Publisher: {{ release.publisher }}</h5>
        <p></p>
        <h5>Sprachausgabe: {{ release.speech }}</h5>
        <h5>Texte: {{ release.text }}</h5>
        <p></p>
        <p>{{ release.content|linebreaksbr }}</p>
        <table class="images">
        {% for img in images %}
            <tr>
                <td style="vertical-align: top">{{ img.get_imgtype_display }}</td>
                <td><img src="https://timberserver.de/gddb/media/images/{{ img.imgfilename }}" style="width:350px;"><br></td>
            </tr>                        
        {% endfor %}
    </article>
{% endblock %}